body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
/*reset*/

ul {
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}
/*common*/

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*header*/
.header {
  display: block;
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  display: flex;
  align-items: center;
}
.header-navigation {
  display: flex;
  align-items: center;
}
.header-navigation-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header-address-list {
  display: flex;
  align-items: center;
}
.header-address {
  margin-left: auto;
}
.header-logo {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #4d5ae5;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.header-logo {
padding: 24px 0;
margin-right: 76px;
}

.header-logo-color {
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 700;
  color: #2e2f42;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  line-height: 1.17;
}
.strategy-strategy-list,
.secton-team-list,
.portfolio-list,
.section-strategy {
  list-style: none;
  text-decoration: none;
}
.navigation-item {
  padding: 24px 0;
  list-style: none;
}
.navigation-link {
  display: block;
  padding: 24px 0;
  list-style: none;
  text-decoration: none;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
}
.header-navigation-list a {
  text-decoration: none;
  color: #2e2f42;
}
.header-navigation-list a:hover {
  color: #404bbf;
}

.header-navigation-list a:focus {
  color:#404bbf;
}
.header-address {
  font-style: normal;
}
.address-list { 
  display: block;
  padding: 24px 0;
  color: #434455;
  cursor: pointer;
  list-style: none;
  text-decoration: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.02em;
}

.header-address-list {
  gap: 40px;
  color: #434455;
  cursor: pointer;
  list-style: none;
  text-decoration: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.02em;
}

.header-address-list a:hover {
  color: #404bbf;
}
.header-address-list a:focus {
  color: #404bbf;
}
.header-address-list a {
  text-decoration: none;
}
/*section "one" with title and button */

.section {
  padding: 188px 0;
  background-color: #2e2f42;
  text-align: center;
  background-image: url('../images/people-office.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7)), url('../images/people-office.jpg');


}

.title-container {
  display: flex;
  flex-direction: column;  
  align-items: center;   
  gap: 40px;               
  text-align: center;
  
}
.title {
  max-width: 496px;
  font-size: 56px;
  line-height: 1.07;
  /* or 107% */
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff ;
}

.title-button {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  color: white;
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.title-button:hover {
  background-color: #404bbf;
}
.title-button:focus {
  background-color: #404BBF;
}

.section-title {
  text-align: center;
  font-weight: font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
/*section "two"*/
.section-strategy {
  padding: 120px 0;
}
 .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section-strategy-list {
  background-color: #FFFFFF;
}
.strategy-strategy-list {
  display: flex;
  gap: 24px;
}
.strategy-list {
  gap: 24px;
  width: calc((100% - 72px) / 4)
}
.strategy-subtitle {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.strategy-subtitle-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;

}

/*section "three" Team*/

.section-team {
  padding: 120px 0;
  background-color: #f4f4fd;
}
.section-team-title {
  margin-bottom: 72px;
text-align: center;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2e2f42;
}
.secton-team-list {
  display: flex;
  gap: 24px;
}
.container-name {
  background-color: #FFFFFF;
}
.team-list {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
  0px 1px 1px 0px rgba(46, 47, 66, 0.16),
  0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.container-name {
  padding: 32px 0;

}
.section-team-subtitle {
  text-align: center;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.section-subtitle-text {
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* section four - Portfolio */

.section-portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}
.section-portfolio-title {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-item {
  width: calc((100% - 48px) / 3);
}
.app-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.app-container:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),

0px 1px 1px 0px rgba(46, 47, 66, 0.16),

0px 1px 6px 0px rgba(46, 47, 66, 0.08);
;
}
.section-subtitle {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.section-subtitle-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* section footer */

.footer {
  padding: 100px 0;
  background-color: #2e2f42;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}
.footer-logo-color {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #f4f4fd;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.footer-logo {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #4d5ae5;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.footer-text {
  max-width: 264px;
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
